/* body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: linear-gradient(135deg, #4086ef, #4086ef);
    color: #fff;
}

form {
    margin-bottom: 20px;
    font-family: monospace;
}

label, input, select, button {
    margin: 10px 0;
}

button {
    padding: 10px;
    cursor: pointer;
}

#calories-result {
    margin-top: 20px;
    font-weight: bold;
}

#history-list {
    margin-top: 20px;
}

#view-report {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
} */
